*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{font-family: Arial, Helvetica, sans-serif;}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;
    /* overflow: hidden; */
    overflow-x: hidden;
}

.contenedorCarrito{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carrito{
    width: 80px;
    height: 80px;
}
.camionEnvio{
    width: 80px;
    height: 80px;
}
.contador{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contador p {
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    color: black;
    text-align: center;
    padding-top: 8px;
}

.bienvenida{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(105, 105, 105, 0.705);
    font-size: 1.6rem;
    font-weight: bold;
    color: firebrick;
    text-shadow: 2px 2px black;
}

.login{
    height: 180px;
    width: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.nameInput{
    margin-top: 20px;
    width: 200px;
    height: 30px;
}

.btn{
    width: 100px;
    height: 40px;
    margin: 20px;
}
.btnSmall{
    width: 20px;
    height: 20px;
}
.btnAddRemove{
    margin-left: 7px;
    margin-right: 7px;
    width: 20px;
    height: 20px;
}
.btntkt {
    width: 80px;
    height: 40px;
    background-color: darkgray;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btnEnvio{
    height: 35px;
    width: 100px;
    margin-top: 20px;
}

.btntkt p {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    color: rgb(255, 0, 0);
    padding-top: 8px;
}


.productos{
    width: 100%;
    padding-top: 30px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.caja{
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px rgba(178, 34, 34, 0.5);
}

.cajaTkt {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    background-color: bisque;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px rgba(178, 34, 34, 0.5);
}
.tktLinea1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tktLinea2 {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-evenly;
    font-weight: normal;
    font-size: 13px;
    padding: 10px;
    white-space: pre;
}
.tktLinea2 h4, p {
    margin-bottom: 10px;
}
.tktLinea1 img {
    width: 50px;
    height: 50px;
}

.tktLinea2-subline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

strong {
    margin-top: 10px;
}

.botonera{
    padding-top: 30px;
    display: none;
    align-items: center;
    justify-content: center;
}

.ticket{
    padding-top: 30px;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 44, 59, 0.473);
    border-radius: 5px;
    padding: 10px;
}

.ticket p{
    padding: 10px;
}

.linea{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
}

.listaCarro {
    position: absolute;
	top: 150px;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 15px;
    margin-left: calc(100vw + 240px);
    transition: margin-left .7s .3s;
}

.listaCarrito {
    position: absolute;
	top: 150px;
    background-color: cadetblue;
    margin-left: calc(100vw - 240px);
    transition: margin-left .7s .3s;
}

.lineaEnvio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.lineaEnvio label {
    height: 30px;
    width: 120px;
    padding-top: 6px;
}
.lineaEnvio select {
    height: 30px;
    width: 240px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lineaEnvio input{
    height: 28px;
    width: 60px;
    border: none;
    border-radius: 5px;
}

#cp {text-align: center;}

.lineaEnvioBtn {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.panelEnvio{
    padding: 10px;
    background-color: darksalmon;
    border-radius: 5px;
    box-shadow: 15px 15px 10px rgba(27, 27, 27, 0.603);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.visualizarEnvio{
    display: flex;
    position: absolute;
    top: calc(50% - 160px);
    left: calc(50% - 190px);
    transition: display .7s .3s;
}
