*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{font-family: Arial, Helvetica, sans-serif;}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightsteelblue;
    /* overflow: hidden; */
}

.contenedorCarrito{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carrito{
    width: 80px;
    height: 80px;
}
.contador{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contador p {
    font-size: 18px;
    font-weight: bold;
    text-shadow: none;
    color: black;
}

.bienvenida{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: dimgrey;
    font-size: 1.6rem;
    font-weight: bold;
    color: firebrick;
    text-shadow: 2px 2px black;
}

.login{
    height: 180px;
    width: 250px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: aqua;
    padding-top: 30px;
    border-radius: 10px;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.nameInput{
    margin-top: 20px;
    width: 200px;
    height: 30px;
}

.btn{
    width: 100px;
    height: 40px;
    margin: 20px;
}
.btnQuitar{
    width: 20px;
    height: 20px;
}
.btnAddRemove{
    width: 20px;
    height: 20px;
}
.btntkt {
    width: 80px;
    height: 40px;
    background-color: darkgray;
    border-radius: 4px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btntkt p {
    font-size: 18px;
    font-weight: bold;
    text-shadow: 1px 1px black;
    color: rgb(255, 0, 0);
}


.productos{
    width: 100%;
    padding-top: 30px;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.caja{
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px rgba(178, 34, 34, 0.5);
}

.cajaTkt {
    margin-top: 10px;
    padding: 5px;
    width: 100%;
    background-color: bisque;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px rgba(178, 34, 34, 0.5);
}
.tktLinea1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tktLinea2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    font-size: 13px;
    padding: 20px;
    white-space: pre;
}
.tktLinea1 img {
    width: 50px;
    height: 50px;
}

.tktLinea2-subline{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

strong {
    margin-top: 10px;
}

.botonera{
    padding-top: 30px;
    display: none;
    align-items: center;
    justify-content: center;
}

.ticket{
    padding-top: 30px;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(59, 44, 59, 0.473);
    border-radius: 5px;
    padding: 10px;
}

.ticket p{
    padding: 10px;
}

.linea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.listaCarro {
    position: absolute;
	top: 150px;
    margin-top: 0px;
    margin-left: calc(100vw + 240px);
    padding-left: 10px;
    padding-right: 25px;
    padding-bottom: 15px;
}

.listaCarrito {
    position: absolute;
	top: 150px;
    background-color: cadetblue;
    margin-left: calc(100vw - 240px);
    transition: margin-left 1s .3s;
}

